* {
    margin: 0;
    border: none;
}

body {
    margin: 0;
    margin-bottom: 100px;
    min-height: 500px;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
    flex-direction: column;
}

.menu {
    display: flex;
    margin-bottom: 5px;
    justify-content: flex-start;
    background-color: rgb(90, 155, 155);
}

.menu-container {
    margin-right: 5px;
}

.menu-button {
    text-align: center;
}

.horizontal {
    display: flex;
    flex-direction: row;
}

.tool {
    display: flex;
    flex-direction: column;
}

.tool button {
    border: black;
}
.tool button:hover {
    background-color: rgb(133, 133, 133);
}

.dropbtn {
    background-color: #496fa8;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

#canvas {
    background-color: white;
    border: 2px solid black;
}

.btnContainer {
    display: flex;
    flex-direction: column;
}

.palette {
    width: 200px;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    align-content: stretch;
}
